<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <appSettings>
        <add key="Token" value="MjEzMjg2MjA5MjM1OTc2MTkz.C7asMQ.zcdYeewKA8qPmu_esZIiidk83vw" />
        <add key="DbConnectionString" value="filename=DiscordBot.db" />
    </appSettings>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target
                name="logFile"
                xsi:type="File"
                filename="${basedir}/logs/${shortdate}.log"
                encoding="utf-8"
                layout="${counter} | ${longdate} | ${level} | ${callsite}[${threadid}] | ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=100:innerExceptionSeparator=---:separator=|}" />
            <target
                name="logConsole"
                xsi:type="ColoredConsole"
                encoding="utf-8"
                layout="${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=100:innerExceptionSeparator=---:separator=|}" />
        </targets>
        <rules>
            <logger name="*" level="Trace" writeTo="logFile" />
            <logger name="*" level="Trace" writeTo="logConsole" />
        </rules>
    </nlog>
    <system.net>
        <connectionManagement>
            <!--maxconnection = 12 * #CPUs-->
            <add address="*" maxconnection="50" />
        </connectionManagement>
    </system.net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>