<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <appSettings>
        <add key="Token" value="MjEzMjg2MjA5MjM1OTc2MTkz.C7asMQ.zcdYeewKA8qPmu_esZIiidk83vw" />
        <add key="DbConnectionString" value="filename=d:\Work\DiscordBot\DiscordBot.db" />
        <add key="CommandPrefix" value="!" />
        <add key="AdminName" value="DuC#6491" />
        <add key="Sources" value="http://happyzerg.ru/guides/builds|" />
    </appSettings>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target
                name="logFile"
                xsi:type="File"
                filename="${basedir}/logs/${shortdate}.log"
                encoding="utf-8"
                layout="${counter} | ${longdate} | ${level} | ${callsite}[${threadid}] | ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=100:innerExceptionSeparator=---:separator=|}" />
            <target
                name="logConsole"
                xsi:type="ColoredConsole"
                encoding="utf-8"
                layout="${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=100:innerExceptionSeparator=---:separator=|}" />
        </targets>
        <rules>
            <logger name="*" minLevel="Trace" writeTo="logFile" />
            <logger name="*" minLevel="Trace" writeTo="logConsole" />
        </rules>
    </nlog>
    <system.net>
        <connectionManagement>
            <!--maxconnection = 12 * #CPUs-->
            <add address="*" maxconnection="24" />
        </connectionManagement>
    </system.net>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Nito.AsyncEx" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>